<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.user.page}"></title>
</head>
<body>
<th:block>
    <div  th:text="|#{settings.section.users.table.id}${u.userId}|"></div>
    <div  th:text="|#{settings.section.users.table.login}${u.login}|"></div>
    <div  th:text="(${u.hasRole('ADMIN')}? #{account.type.admin}: #{account.type.user})"></div>

    <form th:action="@{/adminpanel/__${u.userId}__}" method="post" th:object="${userChangeForm}">
        <div>
            <label>
                <th:block th:text=" #{settings.section.users.table.login}"/>
                <input type="text" name="login" pattern="^[a-zA-Zа-яА-Я0-9 ]+$" maxlength="15"
                       th:value="${u.login}"></label>
        </div>
        <div >
            <label>
                <th:block/>
                <select size="1" name="role">
                    <option th:selected="${u.hasRole('USER')}" value="user" th:text="#{account.type.user}"></option>
                    <option th:selected="${u.hasRole('ADMIN')}" value="admin" th:text="#{account.type.admin}"></option>
                </select></label>
        </div>
        <button th:text="#{button.change.user}"></button>
    </form>

</th:block>
<a th:href="@{/adminpanel}"><button th:text="#{panel.button.back}"></button></a>
</body>
</html>