.login {
    margin: 0 auto;
}

.password {
    margin: 0 auto;
}

.button {
    margin: 0 auto;
}

.border {
    margin: 0 auto;
    width: 350px;
    height: 100px;
    border: solid black;
    border-radius: 7px;
}
#link {
    margin: 0 auto;
}
#answer {
    margin: 0 auto;

}
#logout {
    position: absolute;
    left: 95%;
}
#adminPanel {
    position: absolute;
    left: 82%;

}

#wrapper {
    margin-left: 85%;
}