<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.admin}"></title>
</head>
<body>
<h2 class="settings-section__title" th:text="#{settings.section.users.title}"></h2>
<table class="settings-section__table">
    <tr>
        <th th:text="#{settings.section.users.table.id}"></th>
        <th th:text="#{settings.section.users.table.login}"></th>
        <th th:text="#{settings.section.users.table.type}"></th>
        <th></th>
        <th></th>
    </tr>


    <th:block th:each="u : ${users}">
        <tr>
            <td th:text="${u.userId}"></td>
            <td th:text="${u.login}"></td>
            <td class="td"
                th:text="${u.hasRole('ADMIN')}? #{account.type.admin}: #{account.type.user})"></td>
            <td><a th:href="@{/adminpanel/users/__${u.userId}__}" th:text="#{settings.section.users.table.edit}"></a></td>
            <td><a th:href="@{/adminpanel/users/__${u.userId}__(delete='')}" th:text="#{settings.section.users.table.delete}"></a></td>
        </tr>

    </th:block>
    <nav class="pagination" th:if="${users.totalPages > 1}">
        <div class="pagination-list">
            <a th:if="${users.hasPrevious()}" class="pagination__item pagination__item--arrow"
               th:href="@{/adminpanel(page = ${users.number - 1})}">&#8592;</a>

            <th:block th:each="i : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a th:if="${users.number == i - 1 }" class="pagination__item  pagination__item--active"
                   th:text="${i}"
                   th:href="@{/adminpanel(page = ${i} - 1)}"></a>
                <a th:unless="${users.number == i - 1}" class="pagination__item"
                   th:href="@{/adminpanel(page = ${i} - 1)}" th:text="${i}"></a>
            </th:block>
            </a>
            <a th:if="${users.hasNext()}" class="pagination__item pagination__item--arrow"
               th:href="@{/adminpanel(page = ${users.number + 1})}">&#8594;</a>
        </div>
    </nav>
</table>

</body>
</html>