<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.main}"></title>
    <link rel="stylesheet" th:href="@{/css/authorization.css}">
</head>
<body>
<div id="wrapper" sec:authorize="isAuthenticated()">
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/adminpanel}">
        <button th:text="#{link.admin.panel}"></button>
    </a>
    <a th:href="@{/profile}"><button th:text="#{button.profile}"></button></a>
    <a th:href="@{/logout}">
        <button th:text="#{main.logout}"></button>
    </a>
</div>
<div class="login">
    <label th:text="#{enter.number}"></label>
</div>
<form method="post" th:action="@{/find}", th:object="${numberCheckForm}">
    <div class="password">
        <input type="text" th:name="number">
        <select size="1" name="method">
            <option value="" th:text="#{finder.method.empry}"></option>
            <option th:value="miller" th:text="#{finder.method.miller}"></option>
            <option th:value="ferma" th:text="#{finder.method.ferma}"></option>
            <option th:value="solovay" th:text="#{finder.method.solovay}"></option>
        </select>
        <button type="submit" th:text="#{main.check}"></button>
    </div>
</form>
<th:block th:object="${answer}">
    <label th:text="${answer}" id="answer"></label>
</th:block>
</body>
</html>