<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.main}"></title>
    <link rel="stylesheet" th:href="@{/css/authorization.css}">
</head>
<body>
<div>
    <a  th:href="@{/adminPanel}" id="adminPanel"></a>
    <a th:href="@{/logout}" id="logout"> <button th:text="#{main.logout}"></button></a>
    <a sec:authorize="hasRole('ADMIN')"  th:href="@{/adminpanel}"
       th:text="#{link.admin.panel}"></a>
</div>
<div class="login">
    <label th:text="#{enter.number}"></label>
</div>
<form method="get">
    <div class="password">
        <input type="text" th:name="number">
        <button type="submit" th:text="#{main.check}"></button>
    </div>
</form>
<th:block th:object="${answer}">
    <label th:text="${answer}" id="answer"></label>
</th:block>
</body>
</html>