<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.login}"></title>
    <link rel="stylesheet" th:href="@{/css/authorization.css}">
</head>
<body>
<div class="border">
<form th:action="@{/login}" method="post">
    <div >
        <div class="login">
            <label th:text="#{enter.login}"></label>
            <input type="text" name="username" required>
        </div>
        <div class="password">
            <label th:text="#{enter.password}"></label>
            <input type="password" name="password" required>
        </div>
        <button type="submit" th:text="#{login.button.text}" class="button"></button>
    </div>
</form>
<a href="/registration" id="link"><button   th:text="#{login.link.registration}"></button></a>
</div>
</body>
</html>