<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/registration">Reg</a>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" required>
        <label> Enter login </label>
    </div>
    <div>
        <input type="password" name="password" required>
        <label> Enter password </label>
    </div>
    <input type="submit">
</form>
</body>
</html>